# Ignore artifacts created during build.
bin/*
bin64/*
components/**/*.[oa]
lib/*
lib64/*
include/smooth.h
include/smooth/*
msvc/**/.vs/*
msvc/**/Debug/*
msvc/**/Release/*
msvc/**/*.VC.*
msvc/**/*.vcxproj.user
runtime/**/*.[oa]
